.div{:style => 'padding:20px 0px 20px 20px;font-family:HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;'}
  - title "New Announcement"

  = render 'form'

  %p= link_to "Back to List", announcements_path
