#employees
  -@employees.each do |employee|
    .employee
      =image_tag employee.photo_url, class: "image-align-#{cycle("left", "right")}"
      %h2
        -if current_user
          =link_to employee.name, edit_employee_path(employee), style: "text-decoration:none; color:#000000;"
        -else
          =employee.name
      =raw employee.bio
      %br
